In [1]:
#Import library file 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [2]:
# Read data from the system
model = pd.read_csv('Model.csv')
model.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [3]:
# From data set we need only Size, total_sqft,bath,balcony and price.
size = model['size'].values
total_sqft = model['total_sqft'].values
bath = model['bath'].values
balcony = model['balcony'].values
price = model['price'].values

dataset = pd.DataFrame({'size':size,'total_sqft':total_sqft,'bath':bath,
                       'balcony':balcony,'price':price})

In [5]:
# Dataset without nan value 
print(dataset.isna().sum())
dataset = dataset.dropna()
print(dataset.isna().sum())
#Print the dataset discription.
print(dataset.describe())

size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64
               bath       balcony         price
count  12711.000000  12711.000000  12711.000000
mean       2.617339      1.584376    106.059200
std        1.225956      0.817263    131.761025
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     49.040000
50%        2.000000      2.000000     70.000000
75%        3.000000      2.000000    115.000000
max       40.000000      3.000000   2912.000000

In [7]:
#Split the column to remove the text part in size column field and total_sqft should be cleaned.
dataset['size'] = dataset['size'].str.split(' ',1).str[0]
dataset['total_sqft'] = dataset['total_sqft'].str.split('-',1).str[0]
print(dataset.head())

# Now Data is prepared to fit in model

  size total_sqft  bath  balcony   price
0    2       1056   2.0      1.0   39.07
1    4       2600   5.0      3.0  120.00
2    3       1440   2.0      3.0   62.00
3    3       1521   3.0      1.0   95.00
4    2       1200   2.0      1.0   51.00
<class 'pandas.core.series.Series'>

In [15]:
# Create Liner rigression model for the dataset.
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

m = len(dataset)

# predict price with respect to size of bedroom.

X = dataset[['size','total_sqft','bath']]
Y = np.array(dataset['price'].values)

X = X.reshape((m,1))

reg = LinearRegression()

reg = reg.fit(X, Y)

Y_pred = reg.predict(X)

mse = mean_squared_error(Y, Y_pred)
rmse = np.sqrt(mse)
r2_score = reg.score(X, Y)

print("RMSE =",rmse)
print("R2_Score =",r2_score)

print('Predict price of 3 BHK:',reg.predict(3))

AttributeError: 'DataFrame' object has no attribute 'reshape'