In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np

In [13]:
# Read data from the system
model = pd.read_csv('Model.csv')
model.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [18]:
# From data set we need only Size, total_sqft,bath,balcony and price.
size = model['size'].values
total_sqft = model['total_sqft'].values
bath = model['bath'].values
balcony = model['balcony'].values
price = model['price'].values

dataset = pd.DataFrame({'size':size,'total_sqft':total_sqft,'bath':bath,
                       'balcony':balcony,'price':price})

In [19]:
# Dataset without nan value 
dataset = dataset.dropna()

#Split the column to remove the text part in size column field.
dataset['size'] = dataset['size'].str.split(' ',1).str[0]

dataset.head()
# Now Data is prepared to fit in model

  size total_sqft  bath  balcony   price
0    2       1056   2.0      1.0   39.07
1    4       2600   5.0      3.0  120.00
2    3       1440   2.0      3.0   62.00
3    3       1521   3.0      1.0   95.00
4    2       1200   2.0      1.0   51.00

In [22]:
# Create Liner rigression model for the dataset.
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

m = len(dataset)

# predict price with respect to size of bedroom.

X = dataset['size'].values
Y = dataset['price'].values

X = X.reshape((m,1))

reg = LinearRegression()

reg = reg.fit(X, Y)

Y_pred = reg.predict(X)

mse = mean_squared_error(Y, Y_pred)
rmse = np.sqrt(mse)
r2_score = reg.score(X, Y)

print("RMSE =",rmse)
print("R2_Score =",r2_score)

print('Predict price of 3 BHK:',reg.predict(3))

RMSE = 120.35096986388719
R2_Score = 0.16562856638244658
Predict price of 3 BHK: [117.755417]

In [21]:
# Create model based on number of bathroom in flat.
Z = dataset['bath'].values
Y = dataset['price'].values

Z = Z.reshape((m,1))

reg = LinearRegression()

reg = reg.fit(Z, Y)

Y_pred = reg.predict(Z)

mse = mean_squared_error(Y, Y_pred)
rmse = np.sqrt(mse)
r2_score = reg.score(Z, Y)

print("RMSE =",rmse)
print("R2_Score =",r2_score)
print('Predict price of 3 bathroom flat:',reg.predict(3))

RMSE = 117.00695541413687
R2_Score = 0.21135129292956698
Predict price of 3 bathroom flat: [124.96644348]

In [106]:
# Predict the value of flat based on number of bolcony in it.
X = dataset['balcony'].values
Y = dataset['price'].values

X = X.reshape((m,1))

reg = LinearRegression()

reg = reg.fit(X, Y)

Y_pred = reg.predict(X)

mse = mean_squared_error(Y, Y_pred)
rmse = np.sqrt(mse)
r2_score = reg.score(X, Y)

print("RMSE =",rmse)
print("R2_Score =",r2_score)

print('Predict price of 3 balacony flat:',reg.predict(3))

RMSE = 130.79809303276915
R2_Score = 0.014485400496118572
Predict price of 3 balacony flat: [133.52790229]