In [2]:
# Author = Shalva Rai
# Subject = numpy practice
# Date modified = 4/07/2018
import numpy as np

In [3]:
print(np.__version__)

1.14.3

In [9]:
a= np.array([2,3,5,'hi'])
a

array(['2', '3', '5', 'hi'], dtype='<U11')

In [31]:
b = np.array([(2,5,7),(6,3,9)],dtype=int)
b

array([[2, 5, 7],
       [6, 3, 9]])

In [10]:
c = np.array([[(2,5,7),(6,3,9)],[(2,5,7),(6,3,9)]])
c

array([[[2, 5, 7],
        [6, 3, 9]],

       [[2, 5, 7],
        [6, 3, 9]]])

In [13]:
np.zeros((3,4),dtype=int)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [40]:
one=np.ones((2,3),dtype=np.int8)
one

array([[1, 1, 1],
       [1, 1, 1]], dtype=int8)

In [19]:
np.arange(10,25,1)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24])

In [23]:
# eqqual partion betweeen 10 to 30 in a line arrar
np.linspace(10,30,5)

array([10., 15., 20., 25., 30.])

In [24]:
np.logspace(10,20,3)

array([1.e+10, 1.e+15, 1.e+20])

In [25]:
b.shape

(2, 3)

In [26]:
a.shape

(4,)

In [27]:
b.ndim #number of dimentionality.

2

In [34]:
b.dtype.name
b.astype(float)

array([[2., 5., 7.],
       [6., 3., 9.]])

In [41]:
b-one
np.subtract(b,one)

array([[1, 4, 6],
       [5, 2, 8]])

In [43]:
b+one
np.add(b,one)

array([[ 3,  6,  8],
       [ 7,  4, 10]])

In [44]:
np.sqrt(b)

array([[1.41421356, 2.23606798, 2.64575131],
       [2.44948974, 1.73205081, 3.        ]])

In [45]:
b==one

array([[False, False, False],
       [False, False, False]])

In [46]:
#Slicing
a[0:2]

array(['2', '3'], dtype='<U11')

In [50]:
i=np.transpose(b)
i

array([[2, 6],
       [5, 3],
       [7, 9]])

In [4]:
np.full((3, 3), True, dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [5]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
arr[arr % 2 ==1]   #find odd number from array

array([1, 3, 5, 7, 9])

In [7]:
arr[arr % 2 ==0]   #find even number.

array([0, 2, 4, 6, 8])

In [9]:
#replace all odd number in arr with -1 or given number.
arr[arr % 2 ==1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [13]:
#replace odd nuber without changing the original number.
arr = np.arange(10)
out = np.where(arr % 2 == 1, -1, arr)
print(arr)
print(out)

[0 1 2 3 4 5 6 7 8 9]
[ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [16]:
#reshape the array 
arr.reshape(2,-1)  #setting to -1 automatically decides the number of cols

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [17]:
arr.reshape(2,5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [23]:
arr = np.arange(10)
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
print(a)
print(b)
np.concatenate([a,b], axis=0)  #method #1.

[[0 1 2 3 4]
 [5 6 7 8 9]]
[[1 1 1 1 1]
 [1 1 1 1 1]]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [24]:
np.vstack([a,b]) #method #2.

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [29]:
# Stack the arrays a and b horizontally.
a = np.arange(10).reshape(2,-1)

b = np.repeat(1, 10).reshape(2,-1)

In [31]:
np.concatenate([a,b], axis = 1) #method #1.

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [32]:
np.hstack([a, b])   #method #2.

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [35]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9]) 
#From array a remove all items present in array b.
np.setdiff1d(a,b)

array([1, 2, 3, 4])

In [38]:
#Swap rows 1 and 2 in the array arr.
arr1 = np.arange(9).reshape(3,3)
arr1[[1,0,2], :]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

In [39]:
#Reverse the rows of a 2D array arr.
arr1 = np.arange(9).reshape(3,3)
arr1[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

In [40]:
# Reverse the columns of a 2D array arr.
arr1[:, ::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])